.display-4{
    text-align:center;
}

select{
    width: 100%;
    background-color: black;
}

input:read-only{
    background-color: black;
    color :white;
    
}
input{
    background-color: black;
    color:white;
}